@media only screen and (max-width: $mobilePx) {
    body {
        margin: 0;
    }
    button, span {
        font-size: 1em;
    }
    #content {
        flex-direction: column;
        justify-content: flex-start;

        > div {
            width: 100%;
            height: 50%;
            border-width: 0px;

            &#playerOne {
                transform: rotate(180deg);
            }
        }
    }
}
