$pureBlue: #6534FF;
$aqua: #62BCFA;
$pink: #FCCDD3;
$lightBlue: #BBC4EF;
$lightGreen: #CCF9DE;

#players {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 240px;
    margin: 0 auto;
    margin-top: 50%;
    transform: translateY(-50%);
    background-color: $pureBlue;

    .phase > span {
        width: 33%;
        text-align: center;
        display: inline-block;
        // display: flex;
        // justify-content: space-around;
    }
    h1, span {
        // width: 100%;
        // text-align: center;
        color: white;
    }
}
