$pureBlue: #6534FF;
$aqua: #62BCFA;
$pink: #FCCDD3;
$lightBlue: #BBC4EF;
$lightGreen: #CCF9DE;

$desktopPx: 1080px;
$mobilePx: 780px;
// $mobilePx: 420px;

@font-face {
    font-family: 'josefin_sansregular';
    src: url('../fonts/josefinsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'josefin_sansregular';
}

button, span {
    font-size: 1.18em;
    letter-spacing: 0.05em;
}
button:focus, input:focus {
    outline: none;
}

#content {
    display: flex;
    justify-content: space-around;
    position: relative;

    > div {
        border: 1px solid $pureBlue;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;

        > div {
            width: 100%;
            border-top: 1px solid $pureBlue;
            display: flex;
            justify-content: space-around;

            &.phaseNav button {
                width: 33.33%;
                padding: 2% 5%;
                border: 0px solid transparent;
                background-color: white;
                transition: 0.3s;

                &.active {
                    background-color: darken(white, 25%);
                }

                &:hover:not(.active) {
                    cursor: pointer;
                    background-color: darken(white, 5%);
                }
            }

            &:not(.phaseNav) {
                flex-wrap: wrap;
                justify-content: center;

                &.active button {
                    opacity: 1;
                }

                &.permanents {
                    button {
                        width: 22%;
                        opacity: 1;
                        background-color: $pink;
                        color: red;
                        border-bottom-width: 1px;

                        &.undo {
                            transform: scaleX(-1);
                        }

                        &:hover {
                            background-color: darken($pink, 8%);
                        }
                    }
                }

                > div {
                    display: flex;
                    justify-content: space-around;
                }

                button {
                    opacity: 0.25;
                    width: 47%;
                    margin: 1% 1.5%;
                    color: white;
                    background-color: $pureBlue;
                    padding: 1% 3%;
                    border-radius: 5px;
                    border: 1px solid rgba(0,0,0,0.3);
                    border-bottom-width: 3px;
                    transition: 0.3s;

                    &:hover {
                        background-color: lighten($pureBlue, 15%);
                        border-color: rgba(0,0,0,0.5);
                    }
                }
            }

            &.playerDetails {
                padding: 0 5%;
                box-sizing: border-box;
                justify-content: space-between;

                input {
                    width: 47%;
                }
            }

            &.actionFeed {
                justify-content: flex-start;

                > span {
                    width: 6.25%;
                    box-shadow: 1px 0px $pureBlue;
                    opacity: 0.5;
                    text-align: center;

                    &.active {
                        opacity: 1;
                        background-color: darken(white, 25%);
                    }
                }
            }
        }
    }
}
#signInContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 2;

    input, button {
        font-size: 1.2em;
    }
    > div > button.signInButton[type=button] {
        opacity: 1;
    }
    > * {
        margin: 0.5em 0;
    }
}
#screenDimmer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: 0.5s;
    z-index: 1;

    &.active {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@import '_mobile';
