<!DOCTYPE html>
<html lang="en" ng-app='marketoApp'>
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>cribkeeper Cribbage game manager and tracker</title>

    <link rel="stylesheet" href="css/cribkeeper.css" />
</head>

<body>

    <div id="content">
        <div id="players">
            <div id="playerOne" class="player">
                <h1>Player 1</h1>
                <div class="score">
                    <h1>0</h2>
                </div>
            </div>
            <div id="playerTwo" class="player">
                <h1>Player 2</h1>
                <div class="score">
                    <h1>0</h2>
                </div>
            </div>
        </div>
        <div class="phaseContainer phase">
            <div class="currentPhase">
                <button type="button" data-phase="pregame">Pre-Game</button>
            </div>
            <div>
                <button type="button" data-phase="play">Play</button>
            </div>
            <div>
                <button type="button" data-phase="score">Score</button>
            </div>
        </div>
        <div class="phaseContainer phaseActions">
            <div class="currentPhase" data-phase="pregame">
                <button type="button" class="scoreButton">Heels</button>
            </div>
            <div data-phase="play">
                <button type="button" class="scoreButton">Pair</button>
                <button type="button" class="scoreButton">15</button>
                <button type="button" class="scoreButton">Go</button>
                <button type="button" class="scoreButton">Run</button>
                <button type="button" class="scoreButton">31</button>
            </div>
            <div data-phase="score">
                <button type="button" class="scoreButton">15</button>
                <button type="button" class="scoreButton">Pair</button>
                <button type="button" class="scoreButton">Pairs Royal</button>
                <button type="button" class="scoreButton">Pairs Royal</button>
                <button type="button" class="scoreButton">Pairs Double Royal</button>
                <button type="button" class="scoreButton">Run</button>
                <button type="button" class="scoreButton">Double Run</button>
            </div>
        </div>
    </div>

    <script src='javascript/main.js'></script>
</body>
</html>
