<!DOCTYPE html>
<html lang="en" ng-app='marketoApp'>
<head>
    <meta charset="utf-8">
    <title>cribkeeper Cribbage game manager and tracker</title>
    <link rel="stylesheet" href="../../client/css/cripkeeper.css" />
</head>

<body>

    <h1>Here I am!</h1>

    <script src='../../client/javascript/main.js'></script>
</body>
</html>
