<!DOCTYPE html>
<html lang="en" ng-app='marketoApp'>
<head>
    <meta charset="utf-8">
    <title>cribkeeper Cribbage game manager and tracker</title>
    <link rel="stylesheet" href="css/cribkeeper.css" />
</head>

<body>

    <h1>Here I still am!</h1>

    <script src='javascript/main.js'></script>
</body>
</html>
