<div id="signInContainer">
    <h1>Sign In</h1>
    <input type="text" placeholder="Username" />
    <input type="password" placeholder="Password" />
    <div>
        <button type="button" id="signIn" class="signInButton">Sign In</button>
        <button type="button" id="createPlayer"  class="signInButton">Create Player</button>
    </div>
</div>